[Unit]
Description=SproutHub RPi Listener
After=network.target

[Service]
WorkingDirectory=/home/pi/sprouthub-rpi-listener
ExecStart=/home/pi/sprouthub-rpi-listener/SproutHub.RpiListener
Restart=always
RestartSec=5
SyslogIdentifier=sprouthub-rpi-listener
User=pi
Environment=DOTNET_ROOT=/home/pi/.dotnet

[Install]
WantedBy=multi-user.target